
.inventoryItem {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align:right;
    gap: 1rem;
    list-style-type: none;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.5rem;
   
}

.tableheaders {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.inventoryBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 10;
}

.inventoryContainer {
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    background-color: rgb(112, 0, 0);
    background-image: url('/public/assets/scrollbackground.png');
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    /* z-index: 10; */
    width: 450px;
}

.inventorytitle {
    color: darkred;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}


.titleCloseBtn {
    display:flex;
    justify-content: flex-end;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.inventorybody {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.footerInventory {
    flex: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.inventoryclosebutton {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: darkred;
    color: antiquewhite;
    border-radius: 8px;
    cursor: pointer;
}