.gameScreenWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.playerImageAndStatsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: url('/public/assets/scrollbackground.png');
    background-size: cover;
    background-color: darkred;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    margin: 5px;
    height: 575px;
    
}

.textGameContainer{
    align-items: center;
    box-sizing: border-box;
    width: 800px;
    max-width: 80%;
    height: 700px;
    background: url('/public/assets/scrollbackground.png');
    background-size: cover;
    background-color: darkred;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    height: 600px;

}

.buttonContainer{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;

}

.optionButtons{
    background-color: hsl(237, 84%, 29%);
    border: 1px solid hsl(200, 100%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: antiquewhite;
    outline: none;
}

.optionButtons:hover {
    border-color: black;
    cursor: pointer;
    background-color: orange;
    color:blue;
}

.actionButtonContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: url('/public/assets/scrollbackground.png');
    background-color: darkred;
    background-size: cover;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    margin: 5px;
    height: 575px
}

.playerImage{
    height: 40vh;
    object-fit: cover;
    border-radius: 5px;
}

.sceneImage{
    height: 40vh;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.icon {
    height: 60px;
    vertical-align: middle;
}

.picon {
    height: 90px;
    vertical-align: middle;
}

.openInventorylBtn{
    width: 200px;
    height: 60px;
    margin: 10px;
    border: none;
    background-color: darkred;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: antiquewhite;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
}

.openEquipmentlBtn{
    width: 200px;
    height: 60px;
    margin: 10px;
    border: none;
    background-color: darkgreen;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: antiquewhite;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
}

.eventtitle1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
