.App {
  height: 100vh;
  background-color: transparent;
  position: relative;
  z-index: 2;
}
h1{
  color:white
}
a {
  text-decoration: none;
  color: antiquewhite;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

a::before {
  background-color: #54b3d6;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
}

a:hover::before,
a:focus::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

a::after {
  content: attr(data-replace);
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
}

a:hover::after,
a:focus::after {
  transform: translate3d(0, 0, 0);
}


.wrapper-animation {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.logo {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-weight: 800;
  font-size: 130px;
  font-family: 'poppins', sans-serif;
  -webkit-background-clip: text;
  background-image: url('image/fireBackground.jpeg');
  background-position: 0 0;
  animation: back 20s linear infinite;
  font-style: italic;
}
@keyframes back {
  100% {
      background-position: 2000px 0;
  }
}

#title {
  color: #fff;
  font-weight: 300;
  font-size: 25px;
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translate(-20px, 0);
  }
  to {
      opacity: 1;
      transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
      transform: translate(0px, 0px);
  }
  to {
      transform: translate(-20px, 0);
      opacity: 0;
  }
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}