.AboutWrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.AboutContainer{
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: 150px;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    background-color: rgb(112, 0, 0);
    background-image: url('/public/assets/scrollbackground.png');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 450px;

}

.navHeader{
    color: darkred;

}