.battleMenuContainer {
    box-sizing: border-box;
    border-radius: 10px;
    height: 70%;
  
    gap: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .battleMenuContainer > :first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .options {
    display: flex;
    border-radius: 5px;
    border: 1px solid black;
  
    background-color: #821400;
  
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    font-size: 22px;
  
    cursor: pointer;
  }
  
  .options:hover {
    background-color: #fd9401;
  }