.combatWrapper {
    background-image: url('/public/assets/dungeonbackground.png');
    background-size: cover;
  
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
